node_modules/
.env
*.log
*cache*
.DS_Store
dist/
coverage/
npm-debug.log
uploads/*
!uploads/.gitkeep
/Public/index.html
/Public/upload.html
/Public/js/*
/Public/img/*
/Public/css/*
/Public/templates/*
!/Public/js/.gitkeep
!/Public/css/.gitkeep
!/Public/templates/.gitkeep
!/Public/img/.gitkeep