  #photo-slideshow {
    position: relative;
    width: 100%;
    height: 100%; /* or full screen, etc */
    overflow: hidden;
  }

  #slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: opacity 1s ease-in-out, filter 1s ease-in-out;
    filter: blur(10px);
    opacity: 0;
    position: absolute;
    border-radius: 4px;
  }

  #slideshow-image.show {
    opacity: 1;
    filter: blur(0);
  }
